[user]
	email = “emond.jesse@gmail.com”
	name = Jesse Emond
[push]
	default = simple
[core]
	autocrlf = false
	filemode = false
[color]
	ui = true
[alias]
	st   = status
	br   = branch
        ph   = push
        pl   = pull
        co   = checkout
        c    = commit
        mg   = merge
        a    = add
        aa   = add --all
        cm   = commit -m 
        tree = log --graph --decorate --pretty=oneline --abbrev-commit
